<p>info-ticket works!</p>
<div class="container">
  <div class="fieldset">
    <h3 class="text-center m-3"> THÔNG TIN MUA VÉ</h3>
    <p class="p-3 title">Thông tin khách hàng</p>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-4 d-inline">Họ và tên:</p>


          <p class="col-6 d-inline"> Nguyễn Văn A</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-4 d-inline">Email:</p>


          <p class="col-6 d-inline"> tri72027@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-4 d-inline">Số điện thoại:</p>


          <p class="col-6 d-inline"> 0702427138</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-4 d-inline">Số CMND:</p>


          <p class="col-6 d-inline"> 191848429</p>
        </div>
      </div>
    </div>

    <p class="p-3 title">Thông tin vé</p>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-4 d-inline">Tuyến xe:</p>


          <p class="col-6 d-inline">Hà nội</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-4 d-inline">Số lượng ghế:</p>


          <p class="col-6 d-inline"> 2</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-4 d-inline">Thời gian-ngày:</p>


          <p class="col-6 d-inline"> 13h-21-01/2021</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-4 d-inline">Số ghế:</p>


          <p class="col-6 d-inline"> A2,A4</p>
        </div>
      </div>
    </div>
  </div>

</div>
