<p>info-ticket works!</p>
<div class="container"*ngIf="dataTicket && dataCustomer">
  <div class="fieldset" >
    <h3 class="text-center m-3"> THÔNG TIN MUA VÉ</h3>
    <p class="p-2 titleinfo">Thông tin khách hàng</p>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Họ và tên:</p>


          <p class="col-6 d-inline">{{dataCustomer['fullName']}}</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số điện thoại:</p>


          <p class="col-6 d-inline"> {{dataCustomer['phone']}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số CMND:</p>


          <p class="col-6 d-inline"> {{dataCustomer['identificationNumber']}}</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Mã vé:</p>


          <p class="col-6 d-inline"> {{dataTicket['codeTicket']}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Tuyến xe:</p>


          <p class="col-6 d-inline">{{dataTicket['provinceStart']}} <fa-icon [icon]="faArrowRight"></fa-icon>
            {{dataTicket['provinceEnd']}}</p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số lượng ghế:</p>


          <p class="col-6 d-inline"> {{dataTicket['amout']}} </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-5">
        <div class="row ml-3">
          <p class="col-5 d-inline">Thời gian-ngày:</p>


          <p class="col-6 d-inline"> {{dataTicket['departureTime']}}({{dataTicket['dateTrip']}}) </p>
        </div>
      </div>
      <div class="col-5 offset-2">
        <div class="row ml-3">
          <p class="col-5 d-inline">Số ghế:</p>


          <p class="col-6 d-inline">{{dataTicket['seats']}} </p>
        </div>
      </div>
    </div>
  </div>

</div>
