<div class="container">
  <div class="form-group  justify-content-around">
    <fieldset class="border p-3 fieldset">
      <legend class="w-auto">Mua vé trực tuyến</legend>
      <form [formGroup]="formSearchRoute">
        <div class="row align-content-center">
          <label class="ml-3">
            <input type="radio" name="way" formControlName="way" value="oneWay">
            Một chiều</label>
          <label class="ml-3">
            <input type="radio" name="way" formControlName="way" value="roundWay">
            Khứ hồi</label>
        </div>
        <div class="row">

          <div class="col-3">
            <p class="text-center">Điểm đi</p>
            <ng-select formControlName="provinceStart" (change)="changeProvinceStart($event)">
              <ng-option *ngFor="let provinceStart  of provinceStarts" [value]="provinceStart.provinceID">
                {{ provinceStart.name}}</ng-option>

            </ng-select>
          </div>
          <div class="col-3">
            <p class="text-center">Điểm đến</p>
            <ng-select #NgSelectComponent formControlName="provinceEnd" (change)="changeProvinceEnd()">
              <ng-option *ngFor="let provinceEnd  of provinceEndsTemps" [value]="provinceEnd.provinceID">
                {{ provinceEnd.name}}</ng-option>
            </ng-select>
          </div>
          <div class="form-group col-3 ">
            <p class="text-center">Ngày đi</p>
            <div class="input-group ">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" formControlName="dateOneWay" ngbDatepicker
                #d1="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar " (click)="d1.toggle()" type="button">
                  <fa-icon [icon]="faCalendar"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group col-3">
            <p class="text-center">Ngày về</p>
            <div class="input-group ">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" formControlName="dateRoundWay"
                ngbDatepicker #d2="ngbDatepicker" [disabled]="formSearchRoute.value.way!=='roundWay'? true : false">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar " (click)="d2.toggle()" type="button"
                  [disabled]="formSearchRoute.value.way!=='roundWay'? true : false">
                  <fa-icon [icon]="faCalendar"></fa-icon>
                </button>
              </div>
            </div>
          </div>
          <legend class="legend2"> <button class="btn btn-success  " [disabled]="!formSearchRoute.valid"
              (click)="searRoute()"> Submit </button></legend>
        </div>
      </form>
    </fieldset>
  </div>
</div>
