.chooseCarDiv
{
  left: 15%;
  display: block;
  background-image: url('/assets/image/car.png');
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 750px;
  height:350px;
}
